<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.rfs.smartadmin.module.business.erp.dao.HospitalDao">

    <resultMap id="HospitalVO" type="net.rfs.smartadmin.module.business.erp.domain.vo.HospitalVO"></resultMap>
    <resultMap id="HospitalExcelVO" type="net.rfs.smartadmin.module.business.erp.domain.vo.HospitalExcelVO"></resultMap>


    <select id="queryByPage" resultMap="HospitalVO">
        select
          id,
          name,
          area_code,
          status,
          update_time,
          create_time
        from erp_hospital
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.areaCode != null and queryDTO.areaCode != ''">
                AND INSTR(area_code,#{queryDTO.areaCode})
            </if>
            <if test="queryDTO.name != null and queryDTO.name != ''">
                AND INSTR(name,#{queryDTO.name})
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="HospitalExcelVO">
        select
           id,
           name,
           area_code,
           status,
           update_time,
           create_time
        from erp_hospital
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.areaCode != null and queryDTO.areaCode != ''">
                AND INSTR(area_code,#{queryDTO.areaCode})
            </if>
            <if test="queryDTO.name != null and queryDTO.name != ''">
                AND INSTR(name,#{queryDTO.name})
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="HospitalExcelVO">
        select
         id,
         name,
         area_code,
         status,
         update_time,
         create_time
        from erp_hospital
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete from erp_hospital where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from erp_hospital where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>