<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.rfs.smartadmin.module.business.erp.dao.SalesOrderInfoDao">

    <resultMap id="SalesOrderInfoVO" type="net.rfs.smartadmin.module.business.erp.domain.vo.SalesOrderInfoVO"></resultMap>
    <resultMap id="SalesOrderInfoExcelVO" type="net.rfs.smartadmin.module.business.erp.domain.vo.SalesOrderInfoExcelVO"></resultMap>


    <select id="queryByPage" resultMap="SalesOrderInfoVO">
        select
          id,
          order_code,
          product_id,
          product_name,
          product_number,
          specifications,
          sales_quantity,
          sales_price,
          standard_price
        from erp_sales_order_info
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.specifications != null and queryDTO.specifications != ''">
                AND INSTR(specifications,#{queryDTO.specifications})
            </if>
            <if test="queryDTO.productName != null and queryDTO.productName != ''">
                AND INSTR(product_name,#{queryDTO.productName})
            </if>
            <if test="queryDTO.orderCode != null and queryDTO.orderCode != ''">
                AND INSTR(order_code,#{queryDTO.orderCode})
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="SalesOrderInfoExcelVO">
        select
           id,
           order_code,
           product_id,
           product_name,
           product_number,
           specifications,
           sales_quantity,
           sales_price,
           standard_price
        from erp_sales_order_info
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.specifications != null and queryDTO.specifications != ''">
                AND INSTR(specifications,#{queryDTO.specifications})
            </if>
            <if test="queryDTO.productName != null and queryDTO.productName != ''">
                AND INSTR(product_name,#{queryDTO.productName})
            </if>
            <if test="queryDTO.orderCode != null and queryDTO.orderCode != ''">
                AND INSTR(order_code,#{queryDTO.orderCode})
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="SalesOrderInfoExcelVO">
        select
         id,
         order_code,
         product_id,
         product_name,
         product_number,
         specifications,
         sales_quantity,
         sales_price,
         standard_price
        from erp_sales_order_info
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete from erp_sales_order_info where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from erp_sales_order_info where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>